In [53]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from mlxtend.frequent_patterns import apriori, association_rules
! pip install mlxtend

C:\Users\chris\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

Requirement already satisfied: mlxtend in c:\users\chris\anaconda3\lib\site-packages (0.21.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\chris\anaconda3\lib\site-packages (from mlxtend) (1.6.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\chris\anaconda3\lib\site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\chris\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\chris\anaconda3\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: setuptools in c:\users\chris\anaconda3\lib\site-packages (from mlxtend) (52.0.0.post20210125)
Requirement already satisfied: numpy>=1.16.2 in c:\users\chris\anaconda3\lib\site-packages (from mlxtend) (1.20.1)
Requirement already satisfied: pandas>=0.24.2 in c:\users\chris\anaconda3\lib\site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\chris\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\chris\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\chris\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\chris\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\chris\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: six in c:\users\chris\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\chris\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\chris\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.1.0)

# Association Rule for Store Dataset

In this case study, we will explore how association rule can be used to analyze the items that are usualy purcased together.

## Load Data

We will use the dataset of the transaction in a certain store. You can get the dataset here: 
https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv

In [54]:
# load the data set ans show the first five transaction
url = ("https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv")
data = pd.read_csv(url)
data.head(5)

C:\Users\chris\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

# Get the set of product that has been purchased

In [55]:
items = set()
for col in data:
    if data[col].unique != " ":
          items.update(data[col].unique())
print(items)

{nan, 'Meat', 'Cheese', 'Bagel', 'Pencil', 'Eggs', 'Wine', 'Bread', 'Diaper', 'Milk'}

C:\Users\chris\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

## Preprocess Data

In this step, we will transform our dataset so that we will have a one hot encoding based on the purchased products.

In [56]:
#create an itemset based on the products
itemset = set(items)

# encoding the feature
encoded_vals = []
for index, row in data.iterrows():
    rowset = set(row) 
    labels = {}
    uncommons = list(itemset - rowset)
    commons = list(itemset.intersection(rowset))
    for uc in uncommons:
        labels[uc] = 0
    for com in commons:
        labels[com] = 1
    encoded_vals.append(labels)
encoded_vals[0]

C:\Users\chris\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

{nan: 0,
 'Milk': 0,
 'Bagel': 0,
 'Meat': 1,
 'Cheese': 1,
 'Pencil': 1,
 'Eggs': 1,
 'Wine': 1,
 'Bread': 1,
 'Diaper': 1}

In [57]:
# create new dataframe from the encoded features
ohe_df = pd.DataFrame(encoded_vals)
# show the new dataframe
ohe_df

C:\Users\chris\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

     NaN  Milk  Bagel  Meat  Cheese  Pencil  Eggs  Wine  Bread  Diaper
0      0     0      0     1       1       1     1     1      1       1
1      0     1      0     1       1       1     0     1      1       1
2      1     1      0     1       1       0     1     1      0       0
3      1     1      0     1       1       0     1     1      0       0
4      1     0      0     1       0       1     0     1      0       0
..   ...   ...    ...   ...     ...     ...   ...   ...    ...     ...
310    1     0      0     0       1       0     1     0      1       0
311    1     1      0     1       0       1     0     0      0       0
312    0     0      0     1       1       1     1     1      1       1
313    1     0      0     1       1       0     0     0      0       0
314    1     0      1     1       0       0     1     1      1       0

[315 rows x 10 columns]

Since, the encoded dataframe consist of the empty column. We will drop the NaN column or select all columns other than the first column.

In [58]:
ohe_df.drop(columns= ohe_df.columns[0],axis=1, inplace=True)
ohe_df

C:\Users\chris\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

     Milk  Bagel  Meat  Cheese  Pencil  Eggs  Wine  Bread  Diaper
0       0      0     1       1       1     1     1      1       1
1       1      0     1       1       1     0     1      1       1
2       1      0     1       1       0     1     1      0       0
3       1      0     1       1       0     1     1      0       0
4       0      0     1       0       1     0     1      0       0
..    ...    ...   ...     ...     ...   ...   ...    ...     ...
310     0      0     0       1       0     1     0      1       0
311     1      0     1       0       1     0     0      0       0
312     0      0     1       1       1     1     1      1       1
313     0      0     1       1       0     0     0      0       0
314     0      1     1       0       0     1     1      1       0

[315 rows x 9 columns]

## Apriori Algorithm

We will use appriori algorithm to determine the frequently purchased products. 
For this case study, we will min_support=0.2

In [59]:
freq_items = apriori(ohe_df, min_support=0.2, use_colnames=True, verbose=1)
freq_items.head(7)

Processing 4 combinations | Sampling itemset size 4

C:\Users\chris\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
C:\Users\chris\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support  itemsets
0  0.501587    (Milk)
1  0.425397   (Bagel)
2  0.476190    (Meat)
3  0.501587  (Cheese)
4  0.361905  (Pencil)
5  0.438095    (Eggs)
6  0.438095    (Wine)

The we will generate association rule of the frequent itemset based on confidence level with the threshold=0.6

In [60]:
rules = association_rules(freq_items, metric="confidence", min_threshold=0.6)
rules.head()

C:\Users\chris\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
1,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
2,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,0.064641,1.442650
3,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,0.084958,1.477891
4,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,0.084958,1.557540